<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>
    <h1>Check die regels hier:</h1>



    <% for(var i = 0; i < rules.length; i++) { %>
	    <div class="rule" data-i="<%= i %>" id="<%= rules[i].id %>">
	    	<div class="if">
	    		<!--<span class="if_text">IF</span>-->
	    		<div class="if_descr">
	    			<div><%= rules[i].description %></div>
	    		</div>
	    	</div>
	    	<div class="then">
	    		<div class="shot">
	    			<div><%= rules[i].consequent.options[0].description %></div>
	    		</div>
	    		<div id="plus_<%= i %>" data-i="<%= i %>" class="plusButton"><span class="glyphicon glyphicon-plus"></span></div>
	    	</div>
	    </div>
	<% } %>


    <script src="vendor/fastclick.js"></script>
    <script src="vendor/jquery-1.11.0.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <script src="javascripts/main.js"></script>
  </body>
</html>
